
h1.green{
  color:#00843D;
  font-weight: 600;
  font-size: 1.7em;
}


.flipTop {

  background: #00539f;
  writing-mode: tb-rl;
  width: 1px;
  height: 47px;
  margin: 0em .5em 0em 1em;

  opacity: .8;

}

.inactiveDot.blue {
  background-color: #00539f !important;
  color:white;
  z-index:999999999999;
  padding: .1em .5em .1em .5em;
  border-radius: 0rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

.activeDot.clear {
  background-color: transparent !important;
  color:#00539f;
  z-index:999999999999;
  right: 0em;
}

.activeDot.clear:hover {
  color:#00539f;
}

.translate-toggle {
  display:none
}
.goog-te-gadget {

  font-size: 0px !important;

}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active{
  display: none !important
}

.goog-te-banner-frame {
  display: none !important
}
.goog-te-gadget-simple img {
  display: none !important
}

.translate-a {
  height:0px !important
}
.utility-nav {
  position: relative;
}

.wrap-a {
  position: absolute;
  z-index:9999999;
  right:0;
  display: none !important
}

#google_translate_element {
  display:none !important;
}
#goog-gt-tt, .goog-te-balloon-frame{
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

body {
  top:0 !important
}

.white {
  color:white;
}

.line {
  background: #e5eef5;
  background:   #c7dbe3;
  font-size: 11px;

  margin: 0;

  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 98;
  width: 100%;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding:1em;
  border-top:1px solid #a5c5d6;
}
.rel {
  position:relative;
}

header a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}



.light {
  font-weight: 100;
}

.form-signin label {
  font-weight:700;
}

h2 {
  padding: 7% 0 2% 0;
  text-align: center;
  font-size: 38px;

}


body  {

  word-break: break-word;
  transition: 0.4s all;
  font-family: kepler-std, serif;
  font-weight: 500;
  font-style: normal;
}


.logo {
  min-width: 15em;

}
header .logos a {
  margin-left: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  margin-top:0em;
  margin-bottom:0em
}

a.slate {
  color:#576f7f;
  padding:0
}


.container-fluid {
  padding: 0px;
}

.text--blue {
  color: black;
}


span.heading {
  color:#00559b;
  font-weight:bold;
  font-size:1.3em;
  padding-left: .5em;
  border-left: 1px solid #7bc043;

}

.header-container {
  width: 28%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  background-color: white;
  min-width: calc(2% + 300px);
}

.whiteBox {
  background: white;
  padding:.4em .6em .4em 1em;

}



.slate {
  font-family: kepler-std, serif;
  font-weight: 500;

  font-weight:600;
  color:#576f7f;
  margin-bottom:0em;

  font-size:18px;
}

.slate.borderLeft {
  padding-left:1em;
  /* border-left: 1px solid #576f7f; */
}

.slate.borderLeft:after {
  font-family: "Font Awesome 5 Pro";
  content: "\f2f5";
  font-size:15px;
  padding-left:5px;

}

.header-container .container {
  display: flex;
}

.overflow-hidden{
  overflow: hidden !important;
}
.landing {
  position:relative;
  display: flex;
  align-items: center;
  background: #f8f4ed;
  margin-bottom:0em !important;
  padding-bottom:0em !important;
  z-index:9998;

}

.end {
  position: absolute;
  right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: auto;
}

.landing .fas {

  font-size: 45px;
  margin: 0em .3em 0em 0.1em;
  position: relative;
}

.activeDot{

  background: #00539f;
  color:white;
  position: relative;
  z-index: 22;
  border: 2px solid #00559b;
  width: auto;
  padding: .1em .5em;
  right:-1em;

  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.language {
  font-family: 'Public Sans', sans-serif;
  margin:0;
  font-size: 11px;
  text-transform: uppercase;
}
.activeDot:hover {
  color:white;
}


.selectpicker {
  display:none;
}
.flip {
  background: #00559b;
  writing-mode: tb-rl;
  width: 2px;
  height: 22px;;

}


.inactiveDot{
  border-radius: 1rem;
  color:#00539f;
  background-color: transparent;
  position: relative;
  z-index: 2;
  border: 2px solid #00539f;
  width: auto;
  padding: .1em .5em .1em 1.3em;
}

@media (max-width:1024px) {
  header .logos a {
    margin-left: 1em;
    padding-top: .8em;
    padding-bottom: .8em;
  }
  .logo {
    min-width: 10em;

  }
  .landing{
    flex-direction: column;
  }
  .flipTop {
    background: #00539f;
    writing-mode: tb-rl;
    width: 1px;
    height: 27px;
    margin: 0em 1em 0em 1em;
    opacity: .8;
}

  .end {
    position: relative;
    right: 0em;

  }

}

@media (max-width: 767px) {
  .logo {
    max-width: 6em;
    min-width: 4em;
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
  }
  .landing .fas {
    font-size: 22px;
    margin: .4em 0em 0em 0.5em;
    position: relative;
    font-weight: 600;
  }
  .landing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  header .logos a {
    margin-left: 0em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-right: .5em;
    margin-top: .2em;
    margin-bottom: .2em;
  }
  .end {
    position: relative;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-width: 0em;
    margin-left: 0;
  }
  .flipTop {
    height: 33px;
    margin: 0em .75em 0em 1.5em;
  }
  .landing {
    position: relative;
    display: flex;
    align-items: center;
    background: #f8f4ed;
    margin-bottom: 0em !important;
    padding-bottom: 0em !important;
    z-index: 9998;
    padding: 0em .2em !important;
}
.logo {
    max-width: 8em;
    min-width: 4em;
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
}
.flipTop {
    height: 33px;
    margin: 0em 1em 0em 2.4em;
}

}
